<form class="t8s-lead-form" data-label="contact" action="">
    <input type="hidden" name="projectId" value="t8.market"/>
    <input type="hidden" name="campaignParams" value=""/>
    <input type="hidden" name="campaignReferrer" value=""/>
    <input type="hidden" name="formType" value="serviceRequest"/>

    <h4 class="t8s-lead-form__title">Запрос на регистрацию</h4>
    <div class="form-group" data-toggle="buttons">
        <input name="fullName" type="text" class="form-control" placeholder="Ф. И. О." required/>
    </div>
    <div class="form-group">
        <input name="email" type="email" class="form-control" placeholder="Email" required/>
    </div>
    <div class="form-group">
        <input name="phone" type="tel" class="form-control" placeholder="Телефон" required/>
    </div>
    <div class="form-group text-center">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" checked name="accountType" value="Publisher"/>
                Издатель
            </label>
            <label class="btn btn-default">
                <input type="radio" name="accountType" value="Outsourcer"/>
                Аутсорсер
            </label>
        </div>

    </div>
    <div class="form-group">
        <button data-loading-text="Отправляем..." class="t8s-lead-form__button" type="submit">Отправить</button>
    </div>
</form>